/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.DS_Store
.idea/

composer.lock

_ide_helper.php

.phpstorm.meta.php

website.iml

template/node_modules/

template/package-lock.json

package-lock.json

/api-documentation

public/assets/*

public/mix-manifest.json

public/avatars/*

docs/

.php_cs.cache

tests/coverage/
